[Unit]
Description=ActionFPS user sync
[Service]
User=af
Type=simple
WorkingDirectory=/home/af/user-keys
ExecStart=/home/af/Incubator/watch.sh
Environment=ADMIN_URL=https://raw.githubusercontent.com/ActionFPS/clans/master/administrators.csv
Restart=on-abort
[Install]
WantedBy=default.target
