[Unit]
Description=AssaultCube blacklist sync
[Service]
User={{ blacklist_user }}
Type=simple
WorkingDirectory=/home/{{ blacklist_user }}/blacklist
ExecStart=/bin/bash -c 'git-watch -i -- "git pull && /usr/local/bin/sync-blacklist.sh {{ blacklist_target }}"'
Restart=on-abort
[Install]
WantedBy=default.target