[Unit]
Description=ActionFPS 5 WEB
[Service]
User=af
Type=simple
WorkingDirectory=/home/af/web-5.0/
ExecStart=/home/af/run.sh
PIDFile=/home/af/web-5.0/RUNNING_PID
Restart=on-abort
[Install]
WantedBy=default.target