 -o www.woop.us - Aura {{ app_port }}  - Make sure to register on www.actionfps.com to unlock awesome achievements while playing! Remember to download the Actionfps Match Client to enjoy the most recent features on our Match servers!
 -n www.woop.us - Aura {{ app_port }} - www.actionfps.com
 -f {{ app_port }}
 -m localhost
 -Wdemos/{{ app_port }}/
 -N aura_{{ app_port }}